# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ===== Virtual environment =====
venv/
.env/

# ===== Data & Audio =====
data/
**/*.wav
**/*.flac
**/*.mp3
**/*.m4a

# ===== Outputs =====
alignment_outputs/
outputs/
results/

# ===== Caches =====
.cache/
.huggingface/
torch_cache/
**/.ipynb_checkpoints/

# ===== OS =====
.DS_Store
Thumbs.db
desktop.ini

# ===== VSCode =====
.vscode/

# ===== Large models =====
*.pt
*.pth
*.bin
*.onnx
